.introPlatillos{
    margin-top: 100px;
}

.titlePlatillos{
    text-align: center;
    width: 100%;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    background: rgba(129, 0, 0, 0.603);
    border-radius: 10px;
}

.textPlatillos{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
}

@media screen and (max-width: 375px) {
    .titlePlatillos{
        margin: 0;
        font-size: 20px;
        border-radius: 0;
    }
    .textPlatillos{
        margin-top: 50px;
        margin-bottom: 40px;
    }

    
}
