#admin-panel{
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
}

.formNewAdmin{
    background: #fff;
    width: 400px;
    height: 100%;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px  #b6c9d4;
}

.gananciasAdmin{
    height: 100%;
    width: 300px;
    background: green;
    margin-left: 40px;
}

.formAdmin{
   margin: 30px auto;
   width: 350px;
   height: 400px;
   border: 1px solid black;
}

.tittleAdminRegister{
    text-align: center;
    margin: auto auto;
    border-radius: 5px;
    width: 98%;
    font-size: 26px;
    margin-top: 20px;
    color: #000;
}

.containerFormAdmin{
    margin-top: 40px;
    margin-left: 30px;
}

.inputsAdminContainer{
    margin-top: 10px;
}

.titleAdminInput{
    font-size: 15px;
}

.inputAdminFoem{
    margin-top: 0px;
    margin-left: 20px;
}

.inputAdminFoem input{
    padding: 8px;
    width: 250px;
    border: none;
    background: rgb(235, 232, 232);
    border-radius: 10px;
}

.buttonFormAdmin{
    width: 172px;
    margin-top: 30px;
    margin: 30px auto 0px auto;
}

.buttonFormAdmin button{
    color: #000;
    border: 1px solid #37bd64;
    background: transparent;
    width: 170px;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.buttonFormAdmin button:hover{
        background: green;
        color: white;
}