@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;
}

.titleInput{
    color: #000;
    text-align: center !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 22px !important;
}
.containerSignIn{
    background: #0c0b09;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.containerLogin{
    height: 100%;
    display: flex;
    font-family: 'Oswald', sans-serif !important;
}

.containerLogin .imgLogin{
    width: 55%;
}

.containerLogin .imgLogin img{
    max-width: none;
    width: 930px !important; 
    border: 1px solid rgba(250, 250, 250, 0.836);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-size: cover;
}

.containerLogin .formLogin{
    box-shadow: 1px 1px 5px  #154360;
    border: 1px solid rgba(250, 250, 250, 0.836);
    background: #f0f2f5;
    width: 55%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.formLogin .title{
    text-align: center;
    margin-top: 15px;
}

.formLogin .titleFormLogin{
    margin: auto 0;
    font-weight: 500;
    font-size: 26px;
}

.inputsFormLogin{
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 30px;
    background: #fff;
    box-shadow: 1px 1px 5px  #b6c9d4;
    border: 1px solid rgba(250, 250, 250, 0.836);
}

.formLogin .titleFormLogin .titleFormLogin-color{
    color: rgb(0, 0, 83);
}

.containerInput{
    margin-top: 25px;
}

.containerInput label{
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.containerInput .inputForm{
    margin-top: 5px;
    text-align: center;
}

.containerInput .inputForm input{
    padding: 8px;
    width: 250px;
    border: none;
    background: rgb(235, 232, 232);
    border-radius: 10px;
}

.containerInput .inputForm input:hover{
    background: rgb(197, 195, 195);
}

.containerButton{
    width: 170px;
    margin: 30px auto;
}

.containerButton button{
    color: #000;
    border: 1px solid #37bd64;
    background: transparent;
    width: 170px;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.containerButton button:hover{
    background: green;
    cursor: pointer;
    color: white;
}

